<div class='recipe-details'>
  <h1>{{title}}</h1>
  <div class='image'>
    {{#if imageUrl}}

      {{#each imageUrl}}
        <div class='image'>
          <img src='{{this}}' width='100px' />
        </div>

      {{/each}}

    {{/if}}

  </div>

  <hr />
  <p>Country: {{country}}</p>

  <p>Ingredients:

    {{#each ingredients}}
      <ul>
        <li class='ingredient'>{{this}}</li>
      </ul>

    {{/each}}

  </p>

  <p>Difficulty: {{difficulty}}</p>
  <p>Preparation Time: {{preparationTime}}</p>
  <p>Serves: {{serves}}</p>
  <p>Cooking Instructions: {{description}}</p>

  {{#if currentUser.role}}
    <hr />

    <a href='/recipes/{{_id}}/edit'>Edit this Recipe</a>
    <form action='/recipes/delete/{{_id}}' method='POST'>
      <button>Delete</button>
    </form>
  {{/if}}

  <hr />
  <a href='/regions/{{region.name}}'>Back</a>

  <hr />

  <h2>Add a Comment</h2>
  <form action='/reviews/add/{{id}}' method='POST'>
    <label for=''>User:</label>
    <input type='text' name='user' />
    <label for=''>Comment</label>
    <textarea name='comment' cols='20' rows='2'></textarea>
    <button type='submit'>Add</button>
  </form>

  <h2>Comments:</h2>

  {{#each reviews}}

    <p><span> User: {{user}}</span> -- Comment: {{comment}}</p>

  {{/each}}

</div>